.example {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 36px;
  background: $gray6-color;
}

.example__title {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__text {
  margin-top: 0;
  margin-bottom: 24px;
  color: $gray4-color;
}

.example__text-break {
  display: none;
}

.example__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 28px;
  max-width: 400px;
}

.example__data {
  width: 124px;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid $gray5-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.example__data-number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.example__data-text {
  text-transform: lowercase;
  text-align: center;
  background: $gray6-color;
  width: 86px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 46px;
  font-size: 12px;
  line-height: 12px;
  color: $gray4-color;
}

.example__data-budget {
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  background: lightblue;
}

.example__slider-wrap {
  min-height: 240px;
  margin-bottom: 23px;
  background: yellow;
  display: flex;
  justify-content: center;
}

.example__slide-item {
  display: block;
  max-width: 100%;
  object-fit: cover;
  background: green;
}

.example__slide-item:nth-of-type(1) {
  object-position: -20px 0;
  display: block;
}

.example__slide-item:nth-of-type(2) {
  object-position: 17px 0;
  display: none;
}

.example__slide-item:nth-of-type(3) {
  display: none;
}

.example__slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.example__slide-control {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  background: none;
  border: none;
  padding: 0;
  margin: 0 6px;
}

.example__slider-range {
  width: 84px;
  position: relative;
  height: 14px;
  box-sizing: border-box;
  background: $white-color;
  margin-left: 11px;
  margin-right: 11px;
  border-radius: 6px;
  border: 1px solid $gray5-color;
}

.example__slider-range::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background: $green1-color;
}

@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    padding-bottom: 69px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .example__text-break {
    display: block;
  }

  .example__details {
    display: flex;
    flex-wrap: nowrap;
    max-width: none;
    margin-bottom: 44px;
  }

  .example__data {
    width: 162px;
    height: 72px;
    margin-right: 42px;
  }

  .example__data-number {
    font-size: 30px;
    line-height: 37px;
    position: relative;
    top: -3px;
  }

  .example__data-text {
    font-size: 14px;
    line-height: 14px;
    width: 140px;
    top: 63px;
  }

  .example__data-budget {
    margin-left: auto;
    width: auto;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    row-gap: 9px;
  }

  .example__slider-wrap {
    min-height: 530px;
    overflow: hidden;
  }

  .example__slide-item {
    display: block;
  }

  .example__slide-item:nth-of-type(1) {
    display: none;
  }

  .example__slide-item:nth-of-type(2) {
    display: none;
  }

  .example__slide-item:nth-of-type(3) {
    display: block;
    object-position: 50% 89px;
  }

  .example__slider-controls {
    margin: 0;
  }

  .example__slide-control {
    font-size: 20px;
    line-height: 30px;
    position: relative;
  }

  .example__slide-control::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted red;
  }

  .example__slider-range {
    width: 428px;
    height: 6px;
    background: $gray7-color;
    margin-left: 16px;
    margin-right: 16px;
  }

  .example__slider-range::before {
    width: 32px;
    height: 32px;
    border: 1px solid $gray7-color;
    border-radius: 50%;
    top: -15px;
    left: 198px;
    background: $green1-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 0 0 12px rgba(255, 255, 255, 1) inset;
  }
}

@media (min-width: 1440px) {
  .example {
    padding-top: 0;
    padding-bottom: 68px;
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr;
  }

  .example__title {
    margin-top: 69px;
    margin-bottom: 146px;
    grid-column: 1;
    grid-row: 1;
  }

  .example__text {
    margin-bottom: 69px;
    grid-column: 1;
    grid-row: 2;
    max-width: 435px;
  }

  .example__text-break {
    display: none;
  }

  .example__details {
    grid-column: 1;
    grid-row: 3;

    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0;
  }

  .example__data {
    margin-bottom: 60px;
  }

  .example__data-budget {
    margin: 0;
    text-align: left;
    flex-direction: row;
    column-gap: 64px;
  }

  .example__slider {
    grid-column: 2;
    grid-row: 1 / -1;
    width: 690px;
  }

  .example__slider-wrap {
    margin-bottom: 38px;
  }

  .example__slider-controls {
    background: red;
    margin-left: 0;
    justify-content: right;
  }

  .example__slide-control {
    margin: 0;
  }

  .example__slider-range {
    margin-left: 25px;
    margin-right: 20px;
  }

  .example__slider-range::before {
    left: 196px;
  }
}
