.feature {
  min-height: 60px;
  position: relative;
  padding-left: 80px;
  box-sizing: border-box;
}

.feature::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 0;
}

.feature--leaf::before {
  background: url("../img/icon-leaf.svg") 50% 50% no-repeat $green1-color;
}

.feature--tub::before {
  background: url("../img/icon-tub.svg") 50% 50% no-repeat $green1-color;
}

.feature--eat::before {
  background: url("../img/icon-eat.svg") 50% 50% no-repeat $green1-color;
}

.feature--alarm::before {
  background: url("../img/icon-alarm.svg") 50% 50% no-repeat $green1-color;
}

.feature__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray4-color;
}


@media (min-width: 768px) {
  .feature {
    padding-top: 111px;
    padding-left: 0;
    min-height: 240px;
  }

  .feature:nth-of-type(1) {
    background: url("../img/digit-one.svg") 50% 0% no-repeat red;
  }

  .feature:nth-of-type(2) {
    background: url("../img/digit-two.svg") 58% 0% no-repeat red;
  }

  .feature:nth-of-type(3) {
    background: url("../img/digit-three.svg") 59% 0% no-repeat red;
  }

  .feature:nth-of-type(4) {
    background: url("../img/digit-four.svg") 61% 0% no-repeat red;
  }

  .feature::before {
    top: 0;
    width: 80px;
    height: 80px;
  }

  .feature__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
  }
}

@media (min-width: 1440px) {
  .feature {
    width: 245px;
  }

  .feature:nth-of-type(1) {
    background: url("../img/digit-one.svg") 73% 0% no-repeat red;
  }

  .feature:nth-of-type(2) {
    background: url("../img/digit-two.svg") 92% 0% no-repeat red;
  }

  .feature:nth-of-type(3) {
    background: url("../img/digit-three.svg") 93% 0% no-repeat red;
  }

  .feature:nth-of-type(4) {
    background: url("../img/digit-four.svg") 100% 0% no-repeat red;
  }

  .feature__text {
    padding-right: 0;
  }
}
