.feature {
  min-height: 60px;
}

.feature__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 80px;
  color: $gray4-color;
}

.feature__text::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 60px;
  height: 60px;
}

.feature__text--composition::before {
  background: url("../img/composition.svg") 50% 50% no-repeat;
}

.feature__text--form-type::before {
  background: url("../img/form-type.svg") 50% 50% no-repeat;
}

.feature__text--meal::before {
  background: url("../img/meal.svg") 50% 50% no-repeat;
}

.feature__text--time::before {
  background: url("../img/time.svg") 50% 50% no-repeat;
}
