.logo-text {
  display: block;
  width: 101px;
  height: 20px;
}

.logo-text__image {
  display: block;
  width: 101px;
  height: 20px;
  max-width: 100%;
  object-fit: contain;
}

.logo-text--footer {
  width: 128px;
  height: 24px;
}

.logo-text__image--footer {
  width: 128px;
  height: 24px;
}
