.main-content__promo {
  margin-bottom: 22px;
}

.main-content__programs {
  margin-bottom: 26px;
}

.main-content__features {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .main-content__promo {
    margin-bottom: 0;
  }

  .main-content__programs {
    margin-bottom: 0;
  }

  .main-content__features {
    margin-bottom: 0;
  }
}
