.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: $black-color;
  text-decoration: none;
  text-transform: none;
  margin: auto;
  width: 320px;
}

// @media (min-width: 768px){
//   .page-body {
//     width: 768px;
//   }
// }
