.program {
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  background: $gray3-color;
}

.program__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 72px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: $gray4-color;
  position: relative;
}

.program__text-break {
  display: none;
}

.program__text:last-of-type {
  padding-bottom: 22px;
}

.program__text:last-of-type::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: $gray2-color;
}

.program__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $black-color;
  text-transform: uppercase;
  text-decoration: none;
}


@media (min-width: 768px) {
  .program {
    padding-top: 77px;
    padding-bottom: 55px;
    padding-left: 53px;
    padding-right: 0;
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 25px;
  }

  .program__text {
    font-size: 16px;
    line-height: 24px;
    color: $black-color;
    margin-bottom: 53px;
    max-width: 380px;
  }

  .program__text-break {
    display: inline;
  }

  .program__text:last-of-type {
    padding-bottom: 0;
  }

  .program__text:last-of-type::before {
    display: none;
  }

  .program__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1440px) {
  .program {
    padding-top: 77px;
    padding-bottom: 59px;
    padding-left: 52px;
    padding-right: 30px;
    width: 570px;
    box-sizing: border-box;
  }

  .program__title {
    margin-left: 162px;
    margin-bottom: 73px;
  }

  .program__text {
    max-width: initial;
    margin-bottom: 27px;
  }

  .program__text-break {
    display: none;
  }
}
