.promo {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: $white-color;
  background: linear-gradient(to bottom, $green2-color 0%, $green2-color 302px, $white-color 303px), url("../img/promo-background.png") 64% 0%;
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  background: darkgreen;
}

.promo__text {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  background: darkgreen;
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
  background: red;
  margin-bottom: 3px;
}

.promo__button {
  margin: auto;
  background: darkorchid;
}

@media (min-width: 768px) {
  .promo {
    padding-top: 64px;
    grid-template-rows: auto auto auto;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: $black-color;
    text-align: left;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-left: 98px;
    margin-right: 98px;
    margin-bottom: 40px;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    color: $black-color;
    text-align: left;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin-left: 98px;
    margin-right: 98px;
    margin-bottom: 20px;
  }

  .promo__image {
    width: 709px;
    height: 609px;
    margin-bottom: 0;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    z-index: 1;
  }

  .promo__button {
    margin-left: 92px;
    margin-top: 30px;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    z-index: 2;
  }
}

@media (min-width: 1440px) {
  .promo {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 190px;
    padding-right: 190px;
    grid-template-columns: 420px auto;
    grid-template-rows: auto auto auto auto;
  }

  .promo__title {
    margin-left: 0;
    margin-right: 0;
    margin-top: 110px;
    margin-bottom: 40px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .promo__text {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 52px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .promo__button {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .promo__image {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    max-height: 554px;
  }
}
